<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Three columns of content beneath a jumbotron class</p>
            <p>Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p><span class="text-success">Text resizes</span> and collumns rearrange to fit the width of the screen</p>
            <p>Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>The container class <mark>holds the rows</mark>and <span class="text-warning">treats them</span> as an <span class="text-danger">associated group</span> when carrying out its formatting</p>
            <p>Ut enim ad..</p>
        </div>
    </div>
</div>